[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
keras_applications = "*"
"backports.lzma" = "*"
reverse_geocoder = "*"
scipy = "*"
scons = "*"
pylint = "*"
jinja2 = "*"
pre-commit = "*"
azure-storage-blob = "*"
parameterized = "*"

[packages]
Cython = "*"
crcmod = "*"
websocket_client = "*"
pycapnp = "*"
raven = "*"
psutil = "*"
smbus2 = "*"
libusb1 = "*"
setproctitle = "*"
sympy = "*"
hexdump = "*"
nose = "*"
atomicwrites = "*"
tqdm = "*"

[requires]
python_version = "3.8"
