[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
aenum = "*"
azure-storage-blob = "~=2.1"
"backports.lzma" = "*"
coverage = "*"
dictdiffer = "*"
fastcluster = "*"
keras_applications = "*"
lru-dict = "*"
matplotlib = "*"
opencv-python = "*"
parameterized = "*"
pre-commit = "*"
pycurl = "*"
reverse_geocoder = "*"
scipy = "*"
tenacity = "*"

[packages]
atomicwrites = "*"
crcmod = "*"
Cython = "*"
hexdump = "*"
jinja2 = "*"
json-rpc = "*"
libusb1 = "*"
Logentries = {git = "https://github.com/commaai/le_python.git",ref = "feaeacb48f7f4bdb02c0a8fc092326d4e101b7f2"}
nose = "*"
psutil = "*"
pycapnp = "*"
PyJWT = "*"
pylint = "*"
pyserial = "*"
pyzmq = "*"
raven = "*"
scons = "*"
setproctitle = "*"
smbus2 = "*"
sympy = "*"
tqdm = "*"
websocket_client = "*"

[requires]
python_version = "3.8"
