[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
opencv-python = "*"
keras_applications = "*"
"backports.lzma" = "*"
reverse_geocoder = "*"
scipy = "*"
scons = "*"
pylint = "*"
jinja2 = "*"
pre-commit = "*"
azure-storage-blob = "~=2.1"
parameterized = "*"
matplotlib = "*"
dictdiffer = "*"
pycurl = "*"
coverage = "*"
tenacity = "*"
fastcluster = "*"

[packages]
Cython = "*"
crcmod = "*"
websocket_client = "*"
pycapnp = "*"
pyzmq = "*"
raven = "*"
psutil = "*"
smbus2 = "*"
libusb1 = "*"
setproctitle = "*"
sympy = "*"
hexdump = "*"
nose = "*"
atomicwrites = "*"
tqdm = "*"
PyJWT = "*"
pyserial = "*"
json-rpc = "*"
Logentries = {git = "https://github.com/commaai/le_python.git",ref = "feaeacb48f7f4bdb02c0a8fc092326d4e101b7f2"}

[requires]
python_version = "3.8"
